<p>
 <div class="card">
  <div class="sample">
    <p></p>
  </div>

   <div class="card-image">
     <img class="a" src="{{user.photoUrl}}" alt="">
   </div>
   <div class="card-content">
     <h6 class="card-title text-center pt-2 pd-1">{{user.knownAs}}, {{user.age}}</h6>
    <span class="text-muted text-center">{{user.city }}</span>
   </div>
  <div class="card-icons mt-2 mb-2">
    <i class="fa fa-thumbs-up pr-3"></i>
    <i class="fa fa-heart pr-3"></i>
    <i class="fa fa-user pr-3"></i>

  </div>
 </div>
